
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body {
        margin: 0px;
        padding:0;
     font-size: 14px;
        font-family: 'latolight';
        min-height: 100%;
 font-family: 'latolight';
           
    }
    
 html, 
body {
 
     -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
    

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
        display: block;
    }
    
    input,
    textarea,
    button, select {
        border: 1px solid #e7e7e7;
        height: 42px;
        padding: 0 10px;
        border-radius: 6px;
        width: 100%;
          -webkit-appearance: none; 
          -moz-appearance: none;
          -ms-appearance: none; 
          -o-appearance: none; 
            appearance: none; 
            
    }

input[type=submit]{ background-color: #ff4c6e; width: 200px; border: 0; border-radius: 20px; font-size: 20px;}

select{ background-image: url('../images/selectArrow.png'); background-repeat: no-repeat; background-position: 97% 12px;  } 

    * {
        margin: 0px;
        padding: 0px;
        
    }
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    a img {
        border: 0px;
    }
    
    ul {
        list-style: none
    }

    
    .clearfix:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }
    
    .clearfix {
        display:block;
    }

.pat20{ padding-top: 20px;}

.col3{ width: 25%}
.col9{ width: 75%}

.w33{ width: 33.33%; float: left}
.w50{ width: 50%}

.left{ float: left}
.right{ float: right}
 
.container{ width: 1024px; margin: 0px auto; position: relative}
header{ background-color: #ff6c87; height: 85px; line-height: 80px;}  
header .logo{ float: left; width:80% }
header .logo img{ float: left; display: block; margin-top: 12px;}
header .logo div{ font-size: 25px; float: left; margin-left: 15px;}
header .logo div span{ font-size: 13px;} 
header .menu{ float: right; color: #fff; font-size: 25px; cursor: pointer}

nav{ position: fixed; right:-500px; width:350px; top:0; bottom: 0; background-color: #ff6c87;z-index: 1;}
.navTop li{ width:33%; float: left; text-align: center; border: 1px solid #fb8ca1; background-color: #ff5476; }
.navTop li a{ color: #fff; font-size: 18px; display: block}
.navTop li:nth-child(1) a{ font-size: 22px;}
.navTop li:nth-child(2){ border-right:0;border-left:0}
.navTop li:hover ul { display: block; background-color: #000}
nav .navBottom ul li{ line-height: 40px; border-bottom: 1px solid #fb8ca1}
nav .navBottom ul li:nth-child(8){ display: none}
nav .navBottom ul li a{ padding: 0 10px 0 20px; color: #fff; display: block;}
nav .navBottom ul li a:hover{ background-color: #ff5476} 
.close{position: absolute; left: -45px; cursor: pointer; padding: 15px; line-height: 52px;  color: #fff; font-size: 20px;}

.news{ color: #ccc; font-weight: bold; padding: 15px 0; border-bottom: 1px solid #ccc; margin-bottom: 25px;}
.news span{ color: #000; font-weight: normal}

.welcomeText h1{ padding-bottom:5px; color: #ff486c; font-weight: normal;font-size: 35px;}
.welcomeText p {color:#282828; padding-bottom: 25px;}

.homeBanner{ margin-bottom: 35px;}
.homeBanner .left, .homeBanner .right{ position: relative}
.homeBanner .left img, .homeBanner .right img {display: block}
.homeBanner .left{ float: left}
.homeBanner .right{ float: right}
.homeBanner .note{ position: absolute; bottom: 0; left: 0; right:0; height: 60px; background-image:url('../images/noteBg.png'); padding: 10px; color: #fff; font-size: 16px; font-weight: bold}

.services{ text-align: center}
.services h2{ font-weight: normal; font-size: 15px; padding-bottom: 25px;}
.services ul li{ width: 33.33%; float: left; margin:20px 0 35px;}
.services ul li img{ margin-bottom: 15px;}
.services ul li h3{ color: #ff4a6e; font-size: 20px; margin-bottom: 5px; }
.services ul li p{ padding: 0 20px 15px; }
.services ul li a{color: #ff4a6e; font-size: 16px;}

.services ul li .item .img{ width: 225px; height: 228px;  margin: 0px auto; margin-bottom: 20px; background-image: url('../images/serv6.png'); background-position: center; background-repeat: no-repeat; display: table}
.services ul li .item .img div{ display: table-cell; vertical-align: middle; text-align: center; padding: 0 25px;}
.services ul li .item .img div input[type=text] { height: 40px; border:1px solid #ccc; width:100%; border-radius: 20px; margin: 0px auto; margin-bottom: 10px; padding: 0 10px;}
.services ul li .item .img div input[type=submit]{ background-color: #ff4c6e; padding: 0 20px; height: 30px; border-radius: 15px; cursor: pointer}


.innerData{ padding: 30px 0 30px 0; border-top: 1px solid #ccc}
.leftData{ padding: 0 10px 0 0}
.leftData em{ padding-bottom: 20px; line-height: 20px;}
.leftData img{ width: 100%; margin-bottom: 15px;}

.rightData{ padding-left: 40px;}
.rightData h2{ color: #ff486c; font-size: 22px; font-weight: normal; padding-bottom: 10px; text-transform: uppercase}
.rightData h3{ color: #ff486c; font-size: 16px; font-weight: normal; padding-bottom: 10px;text-transform: uppercase}
.rightData p { padding-bottom: 20px; line-height: 20px;}

footer{padding: 15px 0; font-size: 13px; border-top: 1px solid #ccc}


/*Form CSS*/
.formData{ width: 530px;}
.formData .item{ margin-bottom: 15px;}
.formData h2{ font-size: 16px; padding: 15px 0;}

.formData .item div.w50{ float: left}
.formData .item div.w50:nth-child(1) .item{ padding: 0 15px 0 0;} 
.formData .item div.w33:nth-child(1) .item, .formData .item div.w33:nth-child(2) .item { padding: 0 15px 0 0;} 

/*Members CSS*/
.members h2{ padding-bottom: 20px;}
.members ul{ margin-bottom: 20px;}
.members ul li{ float: left; width: 200px; padding: 10px; border:1px solid #f1f1f1; background-color: #fff; margin-right: 10px; }
.members ul li img{ width: 100%; }
.members ul li img{ width: 100%; }
.error{ color:red; }
.logouts{font-size:21px;}